@import "tailwindcss";
@import "@fontsource-variable/inter";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  logs: false;
}

html {
  min-width: 320px;
  min-height: 100%;
  font-family: "Inter Variable", Inter, ui-sans-serif, system-ui, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
}
